{{response.title = 'w2p_metablog Blog Category'}}
{{extend 'base.html'}}

<div class="my-max-width my-main-include-section mx-auto p-5 position-relative">

  {{=LOAD('files_list', 'files_list.load', 
          args=['Section Files', 'my-position-absolute-right'],
          vars=dict(Module=['modules/blog_helpers.py', 'python'],
                    Controller=['controllers/blog.py', 'python'], 
                    View=['views/blog/category.html', 'html']))}}

  <h1 class="text-center mt-5 my-text-shadow fw-bold">Category: {{=category_record.name}}</h1>
  <h2 class="text-muted text-center mb-5">All our articles on {{=category_record.name}}</h2>
  <div class="row row-cols-1 row-cols-md-2 mx-0 gx-5">

    {{for article in category_articles:}}
    {{include 'article_card_short.html'}}
    {{pass}}

  </div>
</div>
